p {
  color: white;
}

small {
  color: grey;
}

button {
  margin: 8px 2px;
  background-color: #1a9f97;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}



.comment {
  margin-bottom: 8px;

}

button:hover {
  background-color: #deb992;
}
