<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-content">
      <p>Current Title: {{ currentTitle }}</p>
      <div class="form-group">
        <label for="newTitle">New Title: </label>
        <input type="text" id="newTitle" [(ngModel)]="newTitle" required #newTitleInput>
      </div>
    </div>
    <div class="modal-buttons">
      <button [disabled]="newTitle.trim() === ''" (click)="updateTitle()">Accept</button>
      <button (click)="onCloseModal()">Cancel</button>
    </div>
  </div>
</div>
