<div class="user-profile">
  <div class="header">
    <h1>User Profile</h1>
  </div>
  <div class="user-info">
      <p><span class="itemlabel">Username:</span> {{ userProfile.username }}</p>
      <p><span class="itemlabel">First Name:</span> {{ userProfile.profile.firstName }}</p>
      <p><span class="itemlabel">Last Name:</span> {{ userProfile.profile.lastName }}</p>
      <p><span class="itemlabel">Email:</span> {{ userProfile.profile.email }}</p>
      <p><span class="itemlabel">Admin:</span> {{ userProfile.profile.admin ? 'Yes' : 'No' }}</p>
  </div>
</div>
