<div
  class="menu-bar"
  [class.open]="showModal"
  *ngIf="!isCurrentRoute('/login')"
>
  <div class="menu-item">
    <a class="modal-link" (click)="goHome()">Home Videos</a>
  </div>
  <div class="spacer"></div>
  <div *ngIf="isLoggedIn()" class="profile-name"> Logged in as: <i>{{ userProfile.username }}</i></div>
  <div class="menu-item hamburger-menu" (click)="toggleModal()">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <a class="modal-link" (click)="goHome()">Home</a>
  <a class="modal-link" (click)="closeModal()" routerLink="/about">About</a>
  <a *ngIf="isLoggedIn()" class="modal-link" (click)="closeModal()" routerLink="/profile">User Profile</a>
  <a *ngIf="!isLoggedIn()" class="modal-link" (click)="closeModal()" routerLink="/home">Login</a>
  <a *ngIf="!isLoggedIn()" class="modal-link" (click)="closeModal()" routerLink="/signup">Create an Account</a>
  <a *ngIf="isLoggedIn()" class="modal-link" (click)="logout(); closeModal()">Logout</a>
</div>
