.comments-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.comments-section h3 {
  margin-bottom: 10px;
}

.comments-section form {
  margin-top: 10px;
}

.comments-section textarea {
  width: 40%;
  height: 60px;
  margin-bottom: 10px;
}

.comments-section button {
  background-color: #1a9f97;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.comments-section button:hover {
  background-color: #deb992;
}

.nocomment {
  color: #1a9f97;
}
