<div class="comments-section">
  <h3>Comments</h3>

  <div *ngIf="comments.length > 0; else noComments">
    <div *ngFor="let comment of comments">
      <app-comment [comment]="comment" (deleteComment)="deleteComment($event)" (editComment)="editComment($event)"></app-comment>
    </div>
  </div>

  <ng-template #noComments>
    <p class="nocomment">No comments yet. Be the first to comment!</p>
  </ng-template>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="addComment()">
    <textarea [(ngModel)]="newCommentText" name="commentText" placeholder="Leave a comment!" required></textarea>
    <br><button type="submit">Add Comment</button>
  </form>
</div>
