.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}

.user-profile {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #051622;
}

.info {
  border: 2px solid rgb(207, 178, 122);
  box-shadow: 1px 1px 5px white;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info a {
  color: #1ba098;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
  color: #79ded7;
}


.item-label {
  color: #1ba098;
}

p {
  margin-bottom: 2%;
}
