.video-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper video {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

.video-title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.video-title:hover, .video-description:hover {
  color: #deb992;
  cursor: pointer;
}
.video-description {
  font-size: 12px;
  margin-top: 10px;
  color: white;
  transition: color 0.3s ease;
}

.info-section {
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  border: double #deb992;
  padding-left: 2%;
  padding-bottom: 1%;

}

.back-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  margin-left: 15%;
  background-color: #1a9f97;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.back-button:hover {
  background-color: #deb992;
}
