h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}

.signup-container {
  background-color: #051622;
  color: #fff;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  border: 2px solid rgb(207, 178, 122);
  box-shadow: 1px 1px 5px white;
  padding: 10%;
  padding-bottom: 0%;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
  border: none;
}

.form-group label {
  color: #1ba098;
  font-size: 20px;
}

.form-group input {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #051622;
  color: #1ba098;
  border: none;
  border-bottom: 4px solid white;
  text-align: center;
  font-size: 16px;
}

button {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  background-color: #051622;
  border-width: 3px;
  border-color: #1ba098;
  border-style: solid;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15%;
}

button:hover {
  background-color: #1ba098;
}

::placeholder {
  color: #1ba098;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
